<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.cal">
	<insert id="insertCal" parameterType="Map">
		INSERT ALL
		<foreach collection="works" item="wdate">
		INTO TOTALCAL (TO_SEQ ,ID, WDATE)
		VALUES (get_seq,
			<foreach collection="ids" item="id">
				#{id}		
			</foreach> 
		,#{wdate})
		</foreach>
		SELECT * FROM DUAL
	</insert>
	
	<select id="getCal" parameterType="String" resultType="String">
		SELECT WDATE FROM TOTALCAL WHERE ID =#{id}
	</select>
	
	<select id="getGivenId" parameterType="String" resultType="String">
		SELECT DISTINCT ID FROM TOTALCAL WHERE SUBSTR(WDATE,0,6)=#{yyyymm}
	</select>
	
	<select id="getAllList" resultType="CalDto">
		SELECT ID , WDATE FROM TOTALCAL
	</select>
	
	<select id="getownlist" parameterType="String" resultType="String">
		SELECT WDATE FROM TOTALCAL WHERE ID=#{id}
	</select>
	
	<delete id="deleteWork" parameterType="Map"> 
		DELETE FROM TOTALCAL WHERE SUBSTR(WDATE,0,6)=#{wdate} AND ID =#{id}
	</delete> 

	<update id="updateWdate" parameterType="Map">
		UPDATE TOTALCAL SET WDATE=#{odate} WHERE SUBSTR(WDATE,0,8)=#{wdate} AND ID =#{id}
	</update>
	
	<delete id="deleteCal" parameterType="Map">
		DELETE FROM TOTALCAL WHERE ID =#{id} AND SUBSTR(WDATE,0,8) =#{sDate}
	</delete>
	
</mapper>