<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.joinuser">
	<select id="getLogin" resultType="JoinUserDto" parameterType="Map" >
		SELECT ID, NAME, ADDRESS, PHONE, EMAIL, ROLE, DNAME, ENABLED 
		FROM JOINUSER WHERE ID=#{id} AND PASSWORD=#{password} AND ENABLED='Y'
	</select>

	<insert id="insertUser" parameterType="JoinUserDto">
		INSERT INTO JOINUSER (ID,NAME,PASSWORD,ADDRESS,PHONE,EMAIL,ROLE,DNAME,ENABLED,REGDATE) VALUES 
		(#{id},#{name},#{password},#{address},#{phone},#{email},'USER',#{dname},'Y',SYSDATE)
	</insert>
	
	<select id="getUserList" resultType="JoinUserDto" >
	SELECT SEQ ,NAME ,PHONE , EMAIL, ADDRESS ,DNAME ,ROLE ,ENABLED  FROM JOINUSER  
	</select>
	
</mapper>