<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.joinuser">
	<select id="getLogin" resultType="JoinUserDto" parameterType="Map" >
		SELECT ID, NAME, ADDRESS, PHONE, EMAIL, ROLE, DNAME, ENABLED 
		FROM JOINUSER WHERE ID=#{id} AND PASSWORD=#{password} AND ENABLED='Y'
	</select>

	<insert id="insertUser" parameterType="JoinUserDto">
		INSERT INTO JOINUSER (seq,id,name,password,address,phone,email,role,dname,enabled,regdate) VALUES 
		(JOINUSER_SEQ.NEXTVAL,#{id},#{name},#{password},#{address},#{phone},#{email},#{role},#{dname},'Y',SYSDATE)
	</insert>
	
	<select id="getUserList" resultType="JoinUserDto" >
		SELECT SEQ ,NAME ,PHONE , EMAIL, ADDRESS ,DNAME ,ROLE ,ENABLED  FROM JOINUSER  
	</select>
   
   <update id="updateList" parameterType="String" >
   		UPDATE JOINUSER SET ENABLED = 'N' WHERE SEQ =#{seq}
   </update>
   
	<select id="getPreUserList" resultType="JoinUserDto">
   		SELECT SEQ ,NAME ,PHONE , EMAIL, ADDRESS ,DNAME , ROLE ,ENABLED  FROM JOINUSER 
  		WHERE ENABLED = 'Y'
   </select>
   <select id="getUser" resultType="JoinUserDto" parameterType="String">
        SELECT ID, NAME, ADDRESS, PHONE, EMAIL, ROLE, DNAME
     	FROM JOINUSER WHERE ID=#{id} AND ENABLED='Y'
   </select>
   <update id="updateUser" parameterType="JoinUserDto">
   		UPDATE JOINUSER 
   		SET ADDRESS =#{address},PHONE =#{phone},EMAIL =#{email},ROLE =#{role},DNAME =#{dname}
		WHERE ID =#{id}
   </update>
	<select id="addNurseList" parameterType="String" resultType="JoinUserDto">
		SELECT SEQ ,NAME ,PHONE , EMAIL, ADDRESS ,DNAME ,ROLE ,ENABLED  FROM JOINUSER  
		WHERE SEQ=#{seq}
	</select>
	
	<select id="idChk" resultType="String">
		SELECT ID FROM JOINUSER WHERE ID=#{id}
	</select>
</mapper>