<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.notice">
	<insert id="insertNotice" parameterType="noticeDto">
		INSERT INTO NOTICE VALUES
		(NOTICE_NO_SEQ.NEXTVAL, #{id}, #{title}, #{content}, NULL, SYSDATE)
	</insert>
	
	<select id="getnoticelist" resultType="noticeDto" >
		SELECT NO_SEQ,ID,TITLE,CONTENT,READCOUNT FROM NOTICE 
	</select>
	
	<delete id="delnotice" parameterType="String">
		DELETE FROM NOTICE WHERE NO_SEQ=#{no_seq}
	</delete>
	
	<select id="detailnotice" parameterType="int" resultType="noticeDto">
		SELECT NO_SEQ,ID,TITLE,CONTENT,READCOUNT FROM NOTICE
		WHERE no_seq=#{no_seq}
	</select>
	
	<update id="updatenotice" parameterType="noticeDto">
		UPDATE NOTICE 
		SET TITLE=#{title}, CONTENT=#{content}, REGDATE=SYSDATE
		WHERE NO_SEQ=#{no_seq}
	</update>
	
	 <update id="readcount" parameterType="int">
    <![CDATA[
		UPDATE NOTICE
		SET READCOUNT=READCOUNT+1
		WHERE NO_SEQ = #{no_seq}
		]]>
    </update>
</mapper>